* {
    margin: 0;
}

body {
    padding: 2px 50px;
}

.dibavval {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.avvals1,
.avvals2 {
    width: 80px;
    height: 20px;
}

.divduym2 {
    display: flex;
    padding: 50px;
    margin-top: 30px;
    background-color: rgba(216, 216, 216, 0.653);
}

.chap2 h1 {
    font-size: 50px;
}

.chaps1 {
    width: 500px;
}

.chap2button {
    display: flex;
    margin-top: 30px;
}

.chap2button button {
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: none;

}

.chap2buttons1 {
    width: 30px;
    margin-left: 5px;
}

.rost2 img {
    width: 500px;
    height: 533px;
    position: absolute;
    top: 1px;
    right: 100px;
}

.ceyom {
    width: 100%;
    margin-top: 60px;
}

.tel {
    display: none;
}

.ha1 {
    margin-top: 30px;
}

.ce3 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.ce31 {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid wheat;
}

.ce31 p,
.ce31 h3 {
    margin: 10px 0px;
}

.ce31button button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
}

.b1 {
    background-color: bisque;
}

.b2 {
    background-color: rgba(255, 228, 196, 0);
}

.cep2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cep1 {
    padding: 15px;
    width: 21%;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid wheat;

}

.cep {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

hr {
    margin: 5px;
}

@media(max-width: 500px) {
    body {
        padding: 10px;
    }

    .ceyom {
        display: none;
    }

    .divduym2 {
        display: block;
        padding: 10px;
        text-align: center;
        height: 830px;
    }

    .chap2 h1 {
        font-size: 40px;
    }

    .chap2button {
        justify-content: center;
    }

    .rost2 img {
        width: 100%;
        height: 433px;
        position: absolute;
        top: 500px;
        right: 0px;
    }

    .chaps1 {
        width: 80%;
        height: 150px;
        margin-top: 10px;
    }

    .tel {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .cep,
    .ce3 {
        display: block;
        margin: 10px;
    }

    .ha1 {
        text-align: center;
    }

    .ce31 {
        margin: 10px 0px;
    }

    .cep1 {
        width: 90%;
        margin: 10px 0px;
    }

    .b1 {
        width: 55%;
        margin-right: 20px;
    }


}